In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df=pd.read_excel('C:\\Users\Judah.Chisare\Desktop\DataSets\home_price.xlsx')

In [4]:
df

   area  bedrooms  age   price
0  2600       3.0   20  550000
1  3000       4.0   15  565000
2  3200       NaN   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000

In [6]:
mn=np.mean(df['bedrooms'])

In [8]:
df['bedrooms']=df['bedrooms'].fillna(mn)

In [9]:
df

   area  bedrooms  age   price
0  2600      3.00   20  550000
1  3000      4.00   15  565000
2  3200      3.75   18  610000
3  3600      3.00   30  595000
4  4000      5.00    8  760000

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression

In [29]:
x=df.iloc[:,:3]
y=df.iloc[:,3]

In [30]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [31]:
reg=LinearRegression()

In [32]:
reg.fit(x_train,y_train)

LinearRegression()

In [36]:
y_pred=reg.predict(x_test)
y_pred

array([598656.25])

In [39]:
reg.predict([[2600,3.0,20]])

array([550000.])