<b>reference video</b> :https://youtu.be/Bmya3yirFgs

In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r'C:\Users\Judah.Chisare\Desktop\DataSets\Iris.csv')

In [4]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [24]:
df['Species'].unique()

array(['Iris-setosa', 'Iris-versicolor', 'Iris-virginica'], dtype=object)

In [29]:
df['Species']=df['Species'].replace({'Iris-setosa':1, 'Iris-versicolor':2, 'Iris-virginica':3})
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm  Species
0   1            5.1           3.5            1.4           0.2        1
1   2            4.9           3.0            1.4           0.2        1
2   3            4.7           3.2            1.3           0.2        1
3   4            4.6           3.1            1.5           0.2        1
4   5            5.0           3.6            1.4           0.2        1

In [40]:
x=df.iloc[:,:5]
y=df.iloc[:,5]

In [16]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [95]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.1)

In [96]:
model = LogisticRegression(max_iter=520)
model.fit(x_train,y_train)

LogisticRegression(max_iter=520)

In [97]:
y_pred=model.predict(x_test)

In [98]:
y_pred

array([2, 3, 2, 2, 2, 3, 1, 2, 2, 2, 3, 3, 3, 2, 2], dtype=int64)

In [99]:
model.predict([[0.5,1,0.6,0.4,1.2]])

array([1], dtype=int64)

In [100]:
model.score(x_test,y_test)

1.0