In [4]:
import pandas as pd
import sqlalchemy as sa
import pymysql

In [25]:
engine = sa.create_engine('mysql+pymysql://root:@127.0.0.1/cassava_smartech')

In [26]:
con=engine.connect()

In [58]:
sql='SELECT a.ACCOUNT_ID ,b.USE_CASE ,b.TRANS_VALUE ,b.TRANS_COUNT FROM common_msidsn a,ecocash b WHERE a.ACCOUNT_ID= b.ACCOUNT_ID'

In [59]:
df=pd.read_sql(sql,con)

In [60]:
df.head()

  ACCOUNT_ID           USE_CASE  TRANS_VALUE  TRANS_COUNT
0  771004246  Airtime Purchases        296.0           11
1  771004246     Bank To Wallet       5105.0            7
2  771004246  Merchant Payments        102.0            2
3  771004246         Send Money       2385.0           10
4  771004246      Receive Money        260.0            2

In [29]:
df1=pd.read_csv('C:\\Users\\Judah.Chisare\\Desktop\\Analysis Project\\EcoCash_Use_Cases_March_2021.csv')

df2=pd.read_excel('C:\\Users\\Judah.Chisare\\Desktop\\Analysis Project\\Maisha_Health_Customers.xlsx')

In [61]:
df.to_csv('common_clients.csv')

In [62]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2939 entries, 0 to 2938
Data columns (total 4 columns):
ACCOUNT_ID     2939 non-null object
USE_CASE       2939 non-null object
TRANS_VALUE    2939 non-null float64
TRANS_COUNT    2939 non-null int64
dtypes: float64(1), int64(1), object(2)
memory usage: 91.9+ KB

In [63]:
df['USE_CASE'].value_counts()

Merchant Payments    621
Send Money           620
Receive Money        546
Bank To Wallet       506
Airtime Purchases    361
Wallet To Bank       115
Bill Payments        113
Cash In               22
Cash Out              21
Online Payments       13
Card Payments          1
Name: USE_CASE, dtype: int64